.board {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
}

.board-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 320px;
  min-height: 450px;
  padding: 16px;

  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.02)
  );

  backdrop-filter: blur(6px);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.6),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
}
.column h1 {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.task {
  padding: 3px 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.7);
  cursor: grab;
  transition: all 0.2s ease;
}
.task:hover {
  transform: translateY(-3px) scale(1.01);
  border-color: rgba(255, 255, 255, 0.4);
}
.task:active {
  cursor: grabbing;
  transform: scale(0.98);
}

.task-form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;
}
.task-input {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;

  padding: 10px 12px;
  color: white;
  font-size: 14px;

  outline: none;
  width: 220px;

  transition:
    border 0.2s ease,
    background 0.2s ease;
}
.add-task-btn {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: white;
  padding: 10px 16px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.2s ease;
}

.task h4 {
  border-bottom: 1px dashed gray;
  padding-bottom: 2px;
}
